;<?php/*
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; real zone ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[production\master]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"

[production\master2]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"

[production\slave]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; dev zone ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[development\master]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"

[development\master2]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"

[development\slave]
dsn = "mysql:host=localhost;dbname=mydbname;charset=utf8"
username = ""
password = ""
charset = "utf8"


;*/?>
